In [28]:
import pandas as pd
import matplotlib.pyplot as plt

In [29]:
df=pd.read_csv("titanic.csv")

In [30]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
df.shape

(891, 12)

In [32]:
df["Cabin"].isnull().sum

<bound method Series.sum of 0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool>

In [33]:
df["PassengerId"].isnull().sum()

np.int64(0)

In [34]:
df["Survived"].isnull().sum()

np.int64(0)

In [35]:
df["Pclass"].isnull().sum()

np.int64(0)

In [36]:
df["Name"].isnull().sum()

np.int64(0)

In [37]:
df["Sex"].isnull().sum()

np.int64(0)

In [38]:
df["Age"].isnull().sum()

np.int64(177)

In [39]:
df["Age"]=df["Age"].fillna(df["Age"].mean())

In [40]:
df["Age"]

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [41]:
df["Age"].isnull().sum()

np.int64(0)

In [42]:
df["SibSp"].isnull().sum()

np.int64(0)

In [43]:
df["Parch"].isnull().sum()

np.int64(0)

In [44]:
df["Ticket"].isnull().sum()

np.int64(0)

In [45]:
df["Fare"].isnull().sum()

np.int64(0)

In [46]:
df["Cabin"].isnull().sum()

np.int64(687)

In [47]:
df["Embarked"].isnull().sum()

np.int64(2)

In [51]:
df["Embarked"].dtype

dtype('O')

In [52]:
df["Embarked"]=df["Embarked"].fillna(df["Embarked"].mode()[0])

In [53]:
df["Embarked"].isnull().sum()

np.int64(0)

In [54]:
df["Cabin"].dtype

dtype('O')

In [55]:
df["Cabin"]=df["Cabin"].fillna(df["Cabin"].mode()[0])

In [56]:
df["Cabin"].isnull().sum()

np.int64(0)

In [57]:
df["Ticket"].dtype

dtype('O')

In [58]:
df["Cabin"]

0      B96 B98
1          C85
2      B96 B98
3         C123
4      B96 B98
        ...
886    B96 B98
887        B42
888    B96 B98
889       C148
890    B96 B98
Name: Cabin, Length: 891, dtype: object

In [59]:
df["Fare"].isnull().sum()

np.int64(0)

In [60]:
input=df.drop("Fare",axis='columns')

In [61]:
input.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,B96 B98,S

In [62]:
output=df["Fare"]

In [63]:
output.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [64]:
output.shape

(891,)

In [65]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    input, output, test_size=0.2, random_state=42
)

In [66]:
df["Embarked"].nunique()

3

In [67]:
input.drop("Name",axis=1,inplace=True)

In [68]:
input.shape

(891, 10)

In [69]:
from sklearn.preprocessing import LabelEncoder

In [70]:
le=LabelEncoder()

In [71]:
df["Sex_en"]=le.fit_transform(df["Sex"])

In [72]:
df["Sex_en"]

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex_en, Length: 891, dtype: int64

In [73]:
df["Ticket_en"]=le.fit_transform(df["Ticket"])

In [74]:
df["Cabin_en"]=le.fit_transform(df["Cabin"])

In [75]:
df["Embarked_en"]=le.fit_transform(df["Embarked"])

In [76]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_en,Ticket_en,Cabin_en,Embarked_en
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,B96 B98,S,1,523,47,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,596,81,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S,0,669,47,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,49,55,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,B96 B98,S,1,472,47,2

In [77]:
df.drop(["Name","Sex","Ticket","Cabin","Embarked"],axis=1,inplace=True)

In [78]:
out=df["Fare"]

In [79]:
out.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [80]:
df.drop(["Fare"],axis=1,inplace=True)

In [81]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Sex_en,Ticket_en,Cabin_en,Embarked_en
0,1,0,3,22.0,1,0,1,523,47,2
1,2,1,1,38.0,1,0,0,596,81,0
2,3,1,3,26.0,0,0,0,669,47,2
3,4,1,1,35.0,1,0,0,49,55,2
4,5,0,3,35.0,0,0,1,472,47,2

In [82]:
out.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [83]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
    df, out, test_size=0.2, random_state=42
)

In [84]:
from sklearn import tree

In [85]:
model=tree.DecisionTreeRegressor()

In [86]:
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [87]:
model.score(x_test,y_test)

-0.14840385591210348

In [88]:
model.predict(x_test)

array([ 15.2458,  10.5   ,   7.05  ,  33.    ,  14.4542, 133.65  ,
         7.75  ,  18.    ,   6.75  , 151.55  ,  52.    ,   8.05  ,
        25.4667,   7.2292,  13.    ,  90.    ,  53.1   ,   7.6292,
        13.5   ,  33.5   ,   7.8958,  30.5   ,   9.825 ,  16.1   ,
         8.05  ,  21.075 ,  27.7208,  13.    ,  21.075 ,   7.8542,
         7.8958,   7.775 ,  79.2   ,   7.925 ,   8.05  ,  14.4542,
        35.5   ,   7.75  ,  57.    ,   7.8958,  73.5   ,  16.1   ,
         8.3625,   8.05  ,  15.2458,  23.45  ,   7.05  ,   6.8583,
         7.05  , 151.55  ,  19.2583,  77.9583,  31.275 , 120.    ,
         7.75  , 120.    ,  10.5   ,  79.2   ,  10.5   ,   7.8792,
         7.775 ,  14.5   ,  26.    ,  50.    ,   7.75  ,  10.5   ,
        10.5   ,   8.6625,   7.2292,  78.2667,  14.5   , 262.375 ,
        29.7   , 512.3292,   7.8542,  17.4   ,   8.05  , 110.8833,
        13.    ,   8.4042,  39.6875,  10.5   ,  83.1583,   7.7375,
        51.8625,  79.2   , 113.275 ,  79.2   ,   0.    ,   8.05  ,
         7.75  ,  31.275 ,  42.4   ,   7.75  ,   7.8958,   6.975 ,
        78.85  ,   7.25  ,  13.    ,   7.8958,  34.0208,   7.925 ,
        57.9792,   8.05  ,   8.05  ,   7.925 ,  26.25  ,   0.    ,
         9.5   ,  26.55  , 133.65  ,   7.25  ,  53.1   ,  34.0208,
        34.0208,  16.1   ,  27.7208,  15.05  ,  30.    ,  23.45  ,
        39.6875,  83.1583,  77.9583,  30.    ,  16.1   ,  26.55  ,
        25.9292,  27.7208,  14.4542,  15.1   ,   7.8792,  15.2458,
         0.    ,  18.7875,  76.7292,  14.4542,  83.1583,   7.75  ,
         6.45  ,   9.825 ,  16.1   ,  11.5   ,  13.    ,  21.    ,
        21.075 ,  23.    ,  13.    ,  10.5   ,  76.7292,  24.15  ,
         7.75  ,   7.8958,   7.775 ,  15.5   ,   8.05  ,   8.05  ,
        56.4958,   7.8792,  26.    ,  20.525 ,   7.2292,  26.55  ,
        13.    ,  59.4   ,   7.6292,  79.2   ,  13.    ,  55.    ,
         7.8958,   8.05  , 135.6333,  14.5   ,  34.0208,  14.4542,
         8.05  ,   7.2292,  31.275 ,  12.    ,  16.7   ])

In [89]:
df.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Sex_en,Ticket_en,Cabin_en,Embarked_en
0,1,0,3,22.0,1,0,1,523,47,2
1,2,1,1,38.0,1,0,0,596,81,0
2,3,1,3,26.0,0,0,0,669,47,2
3,4,1,1,35.0,1,0,0,49,55,2
4,5,0,3,35.0,0,0,1,472,47,2

In [90]:
model.predict([[4,1,1,35.0,1,0,0,29,55,2]])

C:\Users\Kotha Alekya\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(

array([53.1])